.blackjack-main {
  .static-stack {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.2em;
    transform: translate(-50%, -75%);
    z-index: 1;
    .playing-card:not(:nth-child(1)) {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

@media (max-width: 800px) {
  .blackjack-main {
    .static-stack {
      top: 0;
      right: 12px;
      z-index: 3;
      font-size: 1em;
      transform: translateY(-50%);
    }
  }
}
