.volume-setting-wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    svg {
      width: 16px;
      color: #00e701;
    }

    .muted {
      color: white;
    }
  }
  #volume-range-input {
    --current: 70%;
    appearance: none;
    background-color: transparent;
    position: relative;

    &::-webkit-slider-thumb {
      appearance: none;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      background-color: white;
      margin-top: -5px;
      z-index: 2;
      position: relative;
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 5px;
      border-radius: 5px;
      cursor: pointer;
      background: linear-gradient(
        to right,
        #00e701 0%,
        #00e701 var(--current),
        #213743 var(--current),
        #213743 100%
      );
    }

    &::-moz-range-track {
      width: 100%;
      height: 5px;
      background-color: #213743;
      border: 0;
      border-radius: 5px;
      cursor: pointer;
    }

    &::-moz-range-progress {
      height: 5px;
      background-color: #00e701;
      border: 0;
      border-radius: 5px;
    }

    &::-moz-range-thumb {
      width: 16px;
      height: 16px;
      background-color: white;
      border: 0;
      border-radius: 50%;
    }
  }
}
