.mines-bet-controls {
  background-color: #213743;
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 300px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;

  .play-mines-button {
    background-color: #00e701;
    border: none;
    font-family: inherit;
    padding: 16px 0px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }

  .random-tile-button {
    color: white;
    font-family: inherit;
    font-weight: 600;
    width: 100%;
    font-size: 14px;
    padding: 10px 16px;
    background-color: #2f4553;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    transition: 0.2s background-color;
    cursor: pointer;
    &:hover {
      background-color: #8e96ab92;
    }
  }
}
