.mines-grid {
  // Mine cells format
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-rows: repeat(5, minmax(0px, 110px));
  grid-template-columns: repeat(5, minmax(0px, 110px));
  column-gap: 12px;
  row-gap: 17px;
  padding: 12px;
}
.cell-wrapper {
  border: none;
  border-radius: 8px;
  background-color: #071824;
  .cell {
    border: none;
    border-radius: 8px;
    z-index: 1;
    background-color: #2f4553;
    box-shadow: 0px 7px #213743;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition-property: transform, background-color;
    transition-duration: 0.2s;
    &:hover {
      background-color: #8e96ab92;
      transform: translateY(-3px);
    }
  }
}

.expand-cell {
  animation: expand 0.3s forwards;
}

.shrink-cell {
  animation: shrink 0.15s forwards ease-in;
}

.reveal-gem {
  background-image: url("../../../images/gem.svg");
  animation: reveal 0.15s forwards ease-out;
  background-size: 0%;
  background-repeat: no-repeat;
  background-position: center;
}

.reveal-mine {
  background-image: url("../../../images/mine.svg");
  animation: reveal 0.15s forwards ease-out;
  background-size: 0%;
  background-repeat: no-repeat;
  background-position: center;
}

.cell-reveal-instant {
  width: 100%;
  height: 100%;
  background-size: 70%;
  background-image: url("../../../images/gem.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes expand {
  from {
    transfrom: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes shrink {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes reveal {
  0% {
    background-size: 0%;
  }
  50% {
    background-size: 80%;
  }
  100% {
    background-size: 70%;
  }
}

@media (max-width: 1050px) {
  .mines-main {
    .mines-section {
      .game-screen-mines {
        .mines-grid {
          column-gap: 6px;
          row-gap: 12px;
          padding: 8px;

          .mine-cell {
            box-shadow: 0px 4px #213743;
          }
        }
      }
    }
  }
}
